@inject IStringLocalizer<ContactFooter> StringLocalizer
@inject NavigationManager NavManager 

@*
    Egy footer olyan lapok aljára ahol a céget vagy szolgáltatást mutat be.
    Egy feltűnő div amibe baloldalt bele van írva, hogy 'Vegye fel velünk a kapcsolatot'
*@

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            @StringLocalizer["Any project in your mind? Contact us right now"]
        </div>
        <div class="mat-layout-grid-cell">
            <img src="http://cdn.kwsoft.dev/img/aboutus/gotocontact.svg" alt="@StringLocalizer["Contact us now image"]" />
        </div>
        <div class="mat-layout-grid-cell">
            <MatButton Raised="true" OnClick="() => GoToContact()" Label="@StringLocalizer["Contact us"]" />
        </div>
    </div>
</div>

@code
{
    private void GoToContact()
    {
        NavManager.NavigateTo("/contact");
    }
}